<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.user.HeroBaseMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.user.HeroBase">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="HERO_NAME" jdbcType="VARCHAR" property="heroName" />
    <result column="HERO_TITLE" jdbcType="VARCHAR" property="heroTitle" />
    <result column="IMG_URl" jdbcType="VARCHAR" property="imgUrl" />
    <result column="DETAIL_URL" jdbcType="VARCHAR" property="detailUrl" />
    <result column="DES" jdbcType="LONGVARCHAR" property="des" />
  </resultMap>

    <select id="getListByPageNumSize" resultMap="BaseResultMap">
      select b.* from hero_base b
        <if test="output != null and output != '' or goldCoin != null " >
        LEFT JOIN hero_detail d
            on b.hero_name = d.hero_name
            or b.hero_title = d.hero_title
        </if>
      <where>
            1=1
          <if test="output != null and output != ''" >
            and  d.output like #{output}
          </if>
          <if test="goldCoin != null and goldCoin != ''" >
            and  d.gold_coin = #{goldCoin}
          </if>
          <if test="heroName != null and heroName != ''">
            and  b.hero_name = #{heroName}
          </if>
      </where>
        order by b.ID asc
        limit ${(pageNum - 1 ) * pageSize},${pageNum * pageSize}
    </select>

  <select id="getNewList" resultMap="BaseResultMap">
       select t.ID,t.DETAIL_URL from
        (select hero_base.*,hero_detail.hero_title as tt
            from hero_base
            left join hero_detail
              on hero_base.hero_title = hero_detail.hero_title or hero_base.hero_name = hero_detail.hero_name) as t
        where t.tt is null;
    </select>


    <!-- 后台数据操作 -->
    <!-- 获取所有数列-->
    <select id="getAll" resultMap="BaseResultMap">
        select * from hero_base t
        where 1=1
        <if test="heroName != null and heroName != ''">
            and hero_name = #{heroName}
        </if>
        order by t.id asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>
    <!--获取记录数-->
    <select id="countGetAll" resultType="Integer">
        select count(*) from hero_base
        where 1=1
        <if test="heroName != null and heroName != ''">
            and hero_name = #{heroName,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>