<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.user.HeroDetailMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.user.HeroDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="HERO_NAME" jdbcType="VARCHAR" property="heroName" />
    <result column="VIDEO_URL" jdbcType="VARCHAR" property="videoUrl" />
    <result column="OUTPUT" jdbcType="VARCHAR" property="output" />
    <result column="EXISTENCE" jdbcType="INTEGER" property="existence" />
    <result column="PHYSICS" jdbcType="INTEGER" property="physics" />
    <result column="MAGIC" jdbcType="INTEGER" property="magic" />
    <result column="OPERATION" jdbcType="INTEGER" property="operation" />
    <result column="HERO_TITLE" jdbcType="VARCHAR" property="heroTitle" />
    <result column="BACKGROUND_IMG" jdbcType="VARCHAR" property="backgroundImg" />
    <result column="GOLD_COIN" jdbcType="VARCHAR" property="goldCoin" />
    <result column="TICKET" jdbcType="VARCHAR" property="ticket" />
    <result column="EQUIP_ID" jdbcType="VARCHAR" property="equipId" />
    <result column="RUNE_IMG" jdbcType="VARCHAR" property="runeImg" />
    <result column="RUNE_DES" jdbcType="VARCHAR" property="runeDes" />
  </resultMap>

  <select id="queryHeroDetailByHeroNameOrHeroTile" resultMap="BaseResultMap">
       select * from
          hero_detail
        where hero_name = #{heroName}
          or hero_title = #{heroTitle}
    </select>

  <!-- 后台数据操作 -->
  <!-- 获取所有数列-->
  <select id="getAll" resultMap="BaseResultMap">
    select * from hero_detail t
    where 1=1
    <if test="heroName != null and heroName != ''">
      and hero_name = #{heroName}
    </if>
    order by t.id asc
    limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
  </select>
  <!--获取记录数-->
  <select id="countGetAll" resultType="Integer">
    select count(*) from hero_detail
    where 1=1
    <if test="heroName != null and heroName != ''">
      and hero_name = #{heroName,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>