<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.user.HeroSkillMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.user.HeroSkill">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="HERO_NAME" jdbcType="VARCHAR" property="heroName" />
    <result column="SKILL_IMG_URL" jdbcType="VARCHAR" property="skillImgUrl" />
    <result column="SKILL_NAME" jdbcType="VARCHAR" property="skillName" />
    <result column="SKILL_KEY" jdbcType="VARCHAR" property="skillKey" />
    <result column="SKILL_DESCRIBE" jdbcType="LONGVARCHAR" property="skillDescribe" />
  </resultMap>



  <select id="queryListByHeroName" resultMap="BaseResultMap">
       select * from hero_skill
       where hero_name = #{heroName}
  </select>

</mapper>