<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.user.UserFriendsMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.user.UserFriends">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOGIN_NAME_FIRST" jdbcType="VARCHAR" property="loginNameFirst" />
    <result column="LOGIN_NAME_SECOND" jdbcType="VARCHAR" property="loginNameSecond" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>