<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.user.UserDynamicMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.user.UserDynamic">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="DYNAMIC_CONTENT" jdbcType="LONGVARCHAR" property="dynamicContent" />
    <result column="IS_DEL" jdbcType="INTEGER" property="isDel" />
  </resultMap>

  <resultMap id="DtoResultMap" type="com.gameloft9.demo.dto.dynamic.UserDynamicDto">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="DYNAMIC_CONTENT" jdbcType="LONGVARCHAR" property="dynamicContent" />
    <result column="IS_DEL" jdbcType="INTEGER" property="isDel" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="AVATAR_URL" jdbcType="VARCHAR" property="avatarUrl" />
  </resultMap>

  <select id="getFriendDynamic" resultMap="DtoResultMap">
    select t.*,w.nickname,w.avatar_url from user_dynamic t
        left join wx_user w on w.uuid = t.uuid
    where t.uuid in (
      select LOGIN_NAME_SECOND from user_friends
      where LOGIN_NAME_FIRST = #{uuid}
      AND friend_status = 1)
      AND is_del = 0
  </select>

  <!--基本数据列-->
  <sql id="Base_Column_List">
    ID,UUID,LOGIN_NAME,DYNAMIC_CONTENT,CREATE_TIME,UPDATE_TIME,IS_DEL
  </sql>
  <!-- 获取所有数列-->
  <select id="getAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from user_dynamic t
    where 1=1
    <if test="loginName != null and loginName != ''">
      and t.LOGIN_NAME LIKE CONCAT('%',#{loginName,jdbcType=VARCHAR},'%')
    </if>
    order by t.UPDATE_TIME desc,t.id desc
    limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
  </select>
  <!--获取记录数-->
  <select id="countGetAll" resultType="Integer">
    select count(1) from user_dynamic t
    where 1=1
    <if test="loginName != null and loginName != ''">
      and t.LOGIN_NAME LIKE CONCAT('%',#{loginName,jdbcType=VARCHAR},'%')
    </if>
  </select>

</mapper>