<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.user.WxUserMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.user.WxUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="AVATAR_URL" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="UNION_ID" jdbcType="VARCHAR" property="unionId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="queryWxUserByNickname" parameterType="String" resultMap="BaseResultMap">
    select * from WX_USER t WHERE
    t.NICKNAME = #{nickname,jdbcType=VARCHAR}
  </select>

  <select id="queryWxUserByUuid" parameterType="String" resultMap="BaseResultMap">
    select * from WX_USER t WHERE
    t.UUID = #{uuid,jdbcType=VARCHAR}
  </select>

  <select id="queryWxUserByUnionid" parameterType="String" resultMap="BaseResultMap">
    select * from WX_USER t WHERE
    t.UNIONID = #{unionid,jdbcType=VARCHAR}
  </select>

</mapper>